$primary-color: #245269;
$secondary-color: #DE6745;

$dark-blue: #0275D8;

$white:  #ffffff;
$gray-d: #dddddd;
$gray-7: #777777;
$gray-4: #444444;
$gray-2: #222222;
$light-gray: $gray-d;
$middle-gray: $gray-7;
$dark-gray: $gray-2;


$link-color: $dark-blue;

$navbar-background-color: $middle-gray;
$navbar-active-button-color: $primary-color;
$navbar-text-color: $white;
