// Use id in stead of className to have higher priority than bootstrap css
#navbar-container {
    padding: 0;
    height: 70px;
    // Ex 1.2 here
    // Ex 1.3 here
}

#navbar-collapse,
.navbar-nav {
    width: 100%;
    height: 100%;
}

a.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;

    // Ex 1.4 here
}

.navbar-brand {
    margin-left: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: center;
}